.calculator {
  width: 200px;
  margin: 50px auto;
}
.screen {
  width: 100%;
  height: 40px;
  text-align: right;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
}
.button {
  width: 45px;
  height: 45px;
  margin: 5px;
  font-size: 18px;
}
